body{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    width: 50%;
    height: auto;
    margin: auto;
    color: blueviolet;
    
}
.cabecera{
    width: 40%;
    height: 20%;
>>>>>>> cabecera
}